autoDI:
    services:
        - class: Fmasa\AutoDI\Tests\**\*Service
          exclude:
              - 'Fmasa\AutoDI\Tests\Dir01\SimpleService'
              - 'Fmasa\AutoDI\Tests\Dir02\SimpleService'
